
.custom-card {
    width: 200px;
    height: 200px;
    padding: 20px;
    
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .custom-card h2 {
    margin-bottom: 10px;
    font-size: 65px;
   
   
  }